.fadein {
    opacity: 0;
    transform: translate(0,0);
    transition: all 1.5s;   
    &.fadein-left {
    transform: translate(-30px,0);
    }
    &.fadein-right {
    transform: translate(30px,0);
    }
    &.fadein-up {
    transform: translate(0,-30px);
    }
    &.fadein-bottom {
    transform: translate(0,30px);
    }
    &.scrollin {
    opacity: 1 !important;
    transform: translate(0, 0) !important;
    }
}
